<div class="form-container">
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
        @if (selectedArticle) {
            <h2>Edit Article</h2>
        } @else {
            <h2>Create New Article</h2>
        }

    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required>
        @if (formErrors.title) {
        <mat-error>{{formErrors.title}}</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Content</mat-label>
        <textarea matInput formControlName="content" rows="6" required></textarea>
        @if (formErrors.content) {
        <mat-error>{{formErrors.content}}</mat-error>
        }
    </mat-form-field>

    <mat-checkbox formControlName="concept" class="mb-3">
        Save as concept
    </mat-checkbox>

    <div class="button-row">
        <button mat-raised-button
        color="primary"
        type="submit"
        [disabled]="articleForm.invalid">
        Create Article
        </button>
        @if (selectedArticle) {
            <button mat-raised-button
            color="warn"
            (click)="cancelConcept()">
            Cancel edit
            </button>
        }
    </div>
    </form>
</div>