#create-article-container {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 98%, rgba(0,0,0,0) 100%);
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
    padding-top: 1em;
    overflow-y: hidden;
}