/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.mdc-notched-outline__notch
{
  border-inline: none !important;
}

html, body { height: 100%; }

html {
    background-color: #887f75;
}

body {
    margin: 0;
    font-family: "Montserrat", "Helvetica Neue", sans-serif !important;
}

h1, h2 {
  font-family: "Montserrat Alternates" !important;
  font-weight: 500 !important;
}

.article-card { 
  min-width: 80dvw;
  /* max-width: 80dvw; */
}

mat-card {
  --mdc-outlined-card-container-color: #f5f5f5;
  --mdc-outlined-card-outline-color: #f5f5f5;

  --mat-card-title-text-font: "Montserrat Semibold";
  --mat-card-subtitle-text-font: "Montserrat Semibold";
  --mat-card-subtitle-text-color: darkorange;
}

button {
  --mdc-protected-button-container-color: darkorange;
  --mdc-protected-button-label-text-color: white ;
}

mat-table {
  --mat-table-background-color: #cacaca;
  --mat-table-row-item-label-text-color: #111;
  border-radius: 8px;
  overflow:hidden !important;
}
mat-header-row {
  background-color: darkorange !important;
  --mat-table-header-headline-color: white;
}

.notification-toast {
  background: #323232;
  color: white;
  margin-top: 60px;
}

.mat-mdc-snack-bar-container {
  &.notification-toast {
    button {
      color: #69f0ae;
    }
  }
}