<img [routerLink]="['/article/']" id="navbar-logo" src="./logo.png" />
<div id="navbar-links">
    @if (isWriter) {
        <button mat-button [routerLink]="['/article/create']" 
                [class]="'default-bg'"
                [routerLinkActive]="'active-bg'">
            Create
        </button>
    }
    @if (isReviewer) {
        <button mat-button [routerLink]="['/review/']"
                [class]="'default-bg'"
                [routerLinkActive]="'active-bg'">
            Review
        </button>
    }
    @if (authService.isLoggedIn()) {
        <button mat-button (click)="logout()"
                style="background-color: #212121;">
            Logout
        </button>
    }
</div>