:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #3E3E3E;
}

#navbar-logo {
    padding: 0.66em;
    cursor: pointer;

    @media (max-width: 600px) {
        max-height: 75%;
        margin: auto 0;
    }
}

#navbar-links {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;

    @media (min-width: 600px) {
        margin-right: 60px;
    }
}

#navbar-links * {
    height: 100%;
    padding-inline: 1em;
}

.default-bg {
    @apply bg-cyan-500;
}

.active-bg {
    @apply bg-orange-500;
}
