h1 {
    color: white;
}

.form-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 16px;
}

mat-form-field {
    width: 100%;
}

.button-row {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

#create-button {
    --mdc-protected-button-container-color: darkcyan;
}