<div class="flex flex-col items-center w-full p-4">
    <h1 class="text-2xl font-bold mb-6 text-center">Articles Pending Review</h1>

    <div class="w-full max-w-5xl">
        <mat-table [dataSource]="articles" class="w-full">
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef class="justify-center">Title</mat-header-cell>
                <mat-cell *matCellDef="let article" class="justify-center">{{article.title}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="author">
                <mat-header-cell *matHeaderCellDef class="justify-center">Author</mat-header-cell>
                <mat-cell *matCellDef="let article" class="justify-center">{{article.author}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="submissionDate">
                <mat-header-cell *matHeaderCellDef class="justify-center">Submitted</mat-header-cell>
                <mat-cell *matCellDef="let article" class="justify-center">{{article.creationTime | date}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef class="justify-center">Actions</mat-header-cell>
                <mat-cell *matCellDef="let article" class="justify-center">
                    <button mat-raised-button color="primary" [routerLink]="['/review', article.id]">Review</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>