<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Articles Pending Review</h1>

    <mat-table [dataSource]="articles" class="w-full">
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let article">{{article.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
            <mat-cell *matCellDef="let article">{{article.author}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="submissionDate">
            <mat-header-cell *matHeaderCellDef>Submitted</mat-header-cell>
            <mat-cell *matCellDef="let article">{{article.submissionDate | date}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let article">
                <button mat-button color="primary" [routerLink]="['/review/', article.id]"> 
                    Review
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>