#approve-button,
#cancel-reject-button {
    background-color: darkcyan;
    color: white;
}

.reject-button {
    background-color: darkcyan;
    color: white;
}

.reject-button:disabled {
    background-color: grey;
    color: white;
}