<div class="container mx-auto p-4">
  @if (article) {
    <mat-card class="review-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ article.title }}</mat-card-title>
        <mat-card-subtitle>{{ article.author}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ article.content }}
        </p>
      </mat-card-content>
      <mat-card-actions class="flex justify-end gap-4">
        <button mat-raised-button id="reject-button" (click)="submitReview(false)">
          Reject
        </button>
        <button mat-raised-button id="approve-button" (click)="submitReview(true)">
          Approve
        </button>
      </mat-card-actions>
    </mat-card>
  }  
</div>


