<div class="concept-list w-full justify-center text-center">
  @if (conceptArticles.length > 0) {
    <h1>Articles in Concept</h1>
    <div class="article-grid">
      @for (article of conceptArticles; track article.id) {
        <mat-card class="article-card" (click)="selectArticle(article)">
          <mat-card-header>
            <mat-card-title>{{ article.title }}</mat-card-title>
            <mat-card-subtitle>Written by {{ article.author }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ article.content | slice:0:250 }}</p>
          </mat-card-content>
          <mat-card-footer>
            <span>Created: {{ article.creationTime | date:'medium' }}</span>
          </mat-card-footer>
        </mat-card>
      }
    </div>
  }
</div>